In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import os
from shortcuts import data_loader
import numpy as np

In [3]:
filename = "1. AssignmentBusinessQuant.csv"
data = pd.read_csv(data_loader.data_path(filename))
data["Sales Last Year"] = data["Sales Growth %"].values

In [4]:
data.head()

  Category   Item  Year  Sales  Sales Growth %  Sales Last Year
0    Fruit  Apple  2015     90             NaN              NaN
1    Fruit  Apple  2016     41             NaN              NaN
2    Fruit  Apple  2017     71             NaN              NaN
3    Fruit  Apple  2018     59             NaN              NaN
4    Fruit  Apple  2019     41             NaN              NaN

In [5]:
tdata = data.groupby(["Item", "Year"]).sum()
tdata

                Sales  Sales Growth %  Sales Last Year
Item      Year
Aloe Vera 2010     27             0.0              0.0
          2011     31             0.0              0.0
          2012     99             0.0              0.0
          2013     10             0.0              0.0
          2014     60             0.0              0.0
...               ...             ...              ...
Tomato    2015     60             0.0              0.0
          2016     49             0.0              0.0
          2017     10             0.0              0.0
          2018     35             0.0              0.0
          2019     35             0.0              0.0

[210 rows x 3 columns]

In [6]:
for item in tdata.index.get_level_values(0).unique():
#     print(item)
    tdata.loc[item, 'Sales Last Year'] = tdata.loc[item, 'Sales'].shift().values
    tdata.loc[item, 'Sales Growth %'] = np.round(
        (tdata.loc[item, "Sales"] / tdata.loc[item, "Sales Last Year"] - 1) * 100,
        1).values

In [7]:
tdata["Year"] = tdata.index.get_level_values(1)
tdata.index = tdata.index.get_level_values(0)
tdata.reset_index(inplace=True)
tdata = tdata[["Item", "Year", "Sales", "Sales Last Year", "Sales Growth %"]]

In [8]:
tdata.to_csv(data_loader.data_path(filename, "Results"), index=False)